*{
    margin:0;
    box-sizing: border-box;

}

body{
    font-family: Trebuchet MS, sans-serif;
    padding: 90px 20px 0;  
    box-sizing: border-box;
    
}

.aside {
    position: fixed;
    background-color: white;    
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
}

.section {
    overflow-y: scroll;
    position: fixed;
    background-color: lightsteelblue;    
    top: 20%;
    left: 10%;
    width: 80%;
    height: 75%;     
   
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3%;
    width: 100%;        
    text-align: center;
    background-color: darkgray;
    color: black;
}

tbody tr:nth-child(odd) {
    background-color: slategrey;
    color: black
}

tbody tr:nth-child(even) {
    background-color: slategrey;
    color: black
}